{
  "outputSpeech": {
    "type": "PlainText",
    "text": "Device Info {{ viewport }}.",
    "playBehavior": "REPLACE_ENQUEUED"
  },
  "card": {
    "type": "Standard",
    "title": "Talking News Device Info",
    "text": "Device Info {{ viewport }}."
  },
  "shouldEndSession": {{ should_end_session }}
}
