{
  "outputSpeech": {
    "type": "PlainText",
    "text": "You can find the latest news recorded for you, in your area.",
    "playBehavior": "REPLACE_ENQUEUED"
  },
  "card": {
    "type": "Standard",
    "title": "Talking news help",
    "text": "You can find out the latest news recorded for you, in your area."
  },
  "reprompt": {
    "outputSpeech": {
      "type": "PlainText",
      "text": "Is there anything else I can help you with?",
      "playBehavior": "REPLACE_ENQUEUED"
    }
  },
  "shouldEndSession": {{ should_end_session }}
}
}
