{
  "outputSpeech": {
    "type": "PlainText",
    "text": "Welcome, you can ask me about talking news in your area.",
    "playBehavior": "REPLACE_ENQUEUED"
  },
  "card": {
    "type": "Standard",
    "title": "Talking News help.",
    "text": "Welcome, you can ask me about talking news in your area."
  },
  "reprompt": {
    "outputSpeech": {
      "type": "PlainText",
      "text": "Is there anything else you would like to know",
      "playBehavior": "REPLACE_ENQUEUED"
    }
  },
  "shouldEndSession": {{ should_end_session }}
}
