{
  "outputSpeech": {
    "type": "PlainText",
    "ssml": "Goodbye, thank you spending time with us today.  Check back again soon to stay updated.",
    "playBehavior": "REPLACE_ENQUEUED"
  },
  "card": {
    "type": "Standard",
    "title": "Talking News",
    "text": "Goodbye, thank you spending time with us today.  Check back again soon to stay updated."
  },
  "shouldEndSession": {{ should_end_session }}
}
